Source: gr-ieee802-11
Section: unknown
Priority: optional
Maintainer: Ruben <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), cmake
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/gr-ieee802.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/gr-ieee802.git;a=summary

Package: gr-ieee802-11
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
